<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/onecrowd.fund/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/onecrowd.fund/"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/onecrowd_fund"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/company/onecrowdfund/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Copyright © OneCrowd 2018. All rights reserved.
  </div>
</div>
