<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1528874736823-9415c75da0e5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=76b94934e1bfe2ec20e2eb09db47c5db&auto=format&fit=crop&w=934&q=80');">
  <div class="banner-content">
    <h1>OneCrowd</h1>
    <p>Co-invest in exclusive assets</p>
    <a class="btn btn-primary btn-lg">Coming soon</a>
  </div>
</div>
<!-- <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1498946168008-9b2e06e76ea0?ixlib=rb-0.3.5&s=25f0250733908eb56e99c20f4bafa866&auto=format&fit=crop&w=1350&q=80');">
  <div class="card-category">Classic Cars</div>
  <div class="card-description">
    <h2>CarCrowd</h2>
    <p>Invest in legendary cars</p>
  </div>
  <a class="card-link" href="#" ></a>
</div>
<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1508343919546-4a5792fee935?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=61d76bf50b54ed044ec81304694cf8f5&auto=format&fit=crop&w=1500&q=80');">
  <div class="card-category">Horses (coming soon)</div>
  <div class="card-description">
    <h2>HorseCrowd</h2>
    <p>Invest in promising stallions</p>
  </div>
  <a class="card-link" href="#" ></a>
</div>
<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1518998053901-5348d3961a04?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4428d2c536dc9b24c6147e58b0a08d1e&auto=format&fit=crop&w=1334&q=80');">
  <div class="card-category">Art (coming soon)</div>
  <div class="card-description">
    <h2>ArtCrowd</h2>
    <p>Invest in prestigious and upcoming artwork</p>
  </div>
  <a class="card-link" href="#" ></a>
</div>
 -->
